<div class="row">
<div class="col-md-4">
    <a [routerLink]="'nouns' | localize" style="margin:20px 0 10px 0; cursor: pointer;">{{ 'GRAMMAR.Nouns' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;"> Words used to identify people, places, or things.</p>
    <a [routerLink]="'adjectives' | localize" style="margin:20px 0 10px 0;">{{ 'GRAMMAR.Adjectives' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;">Words used to describe a noun.</p>
    <a [routerLink]="'adverbs' | localize" style="margin:20px 0 10px 0;">{{ 'GRAMMAR.Adverbs' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;">Words used to describe an adjective, verb, or other adverb.</p>
</div>
<div class="col-md-4">
    <a [routerLink]="'determiners' | localize" style="margin:20px 0 10px 0;">{{ 'GRAMMAR.Determiners' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;">Words used to modify a noun or noun group, such as articles and quantifiers.</p>
    <a [routerLink]="'verbs' | localize" style="margin:20px 0 10px 0;">{{ 'GRAMMAR.Verbs' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;">Words used to express action</p>
    <a [routerLink]="'speech' | localize" style="margin:20px 0 10px 0;">{{ 'GRAMMAR.Speech' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;">Rules regarding how to report what someone says.</p>
</div>
<div class="col-md-4">
    <a [routerLink]="'punctuation' | localize" style="margin:20px 0 10px 0;">{{ 'GRAMMAR.Punctuation' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;">The marks used to separate sentences and their elements.</p>
    <a [routerLink]="'relativeclauses' | localize" style="margin:20px 0 10px 0;">{{ 'GRAMMAR.RelativeClauses' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;">Parts of a sentence used to create more complex and precise sentences.</p>
    <a [routerLink]="'prepositions' | localize" style="margin:20px 0 10px 0;">{{ 'GRAMMAR.Prepositions' | translate }}</a>
    <p style="font-size: 0.8em; font-style: italic;">Words used to express how one word relates to another.</p>
</div>
</div>