<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/adjectives' | localize">{{ 'GRAMMAR.Adjectives' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.ComparativesSuperlatives' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.ComparativesSuperlatives' | translate }}</h1>
<h3>Comparative Adjectives</h3>
<p>Comparative adjectives are used to compare two things. They are used in sentences where two things are compared.</p>
<p>When using comparatives, we generally see the following sentence structure:</p>
<p><strong>Subject + verb + comparative adjective + <i>than</i> + object.</strong></p>
<p>Examples:</p>
<ul>
    <li>Her garden is <strong>bigger</strong> than mine.</li>
    <li>My computer is <strong>faster</strong> than his.</li>
    <li>Jessica is <strong>taller</strong> than John.</li>
    <li>Your neighbors are <strong>friend</strong></li>
</ul>
<h3>Superlative Adjectives</h3>
<p>Superaltive adjectives are used to compare three or more things. These are used to show the upper or lower limit of a quality within the group.</p>
<p>When using superlatives, we generally see the following sentence structure:</p>
<p><strong>Subject + verb + the + superlative adjective.</strong></p>
<p>Examples:</p>
<ul>
    <li>Cristiano Ronaldo is the <strong>best</strong> footballer on earth.</li>
    <li>They sell the <strong>worst</strong> hot dogs I have ever eaten.</li>
    <li>My dog is by far the <strong>fattest</strong> dog in the neighborhood.</li>
    <li>I think that this type of metal is the <strong>strongest</strong> material that we can find.</li>
</ul>
<h3>Forming Comparatives and Superlatives</h3>
<p>For adjectives with one or two syllables, we add an <i>-er</i> to the end of comparatives and <i>-est</i> to the end of superlatives.</p>
<p>- If the word ends in a single consonant, then it is usually doubled before adding the suffix <i>-er</i> or <i>-est</i>.</p>
<p>- If the word ends in <i>-y</i>, then we remove the <i>-y</i> and add an <i>-i</i> before we add the suffix <i>-er</i> or <i>-est</i>.</p>
<p>Examples:</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Adjective</th>
        <th style="font-weight: bold; text-align: center;">Comparative</th>
        <th style="font-weight: bold; text-align: center;">Superlative</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>tall</td>
            <td>taller</td>
            <td>tallest</td>
        </tr>
        <tr>
            <td>fat</td>
            <td>fatter</td>
            <td>fattest</td>
        </tr>
        <tr>
            <td>big</td>
            <td>bigger</td>
            <td>biggest</td>
        </tr>
        <tr>
            <td>small</td>
            <td>smaller</td>
            <td>smallest</td>
        </tr>
        <tr>
            <td>happy</td>
            <td>happier</td>
            <td>happiest</td>
        </tr>
        <tr>
            <td>busy</td>
            <td>busier</td>
            <td>busiest</td>
        </tr>
        <tr>
            <td>funny</td>
            <td>funnier</td>
            <td>funniest</td>
        </tr>
        <tr>
            <td>curly</td>
            <td>curlier</td>
            <td>curliest</td>
        </tr>
    </tbody>
  </table>
</div><br/>
<p>For adjectives with three or more syllables, we add <i>more</i> before the adjective for comparatives and <i>most</i> before the adjective for superlatives.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
          <tr>
        <th style="font-weight: bold; text-align: center;">Adjective</th>
        <th style="font-weight: bold; text-align: center;">Comparative</th>
        <th style="font-weight: bold; text-align: center;">Superlative</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>important</td>
            <td>more important</td>
            <td>most important</td>
        </tr>
        <tr>
            <td>expensive</td>
            <td>more expensive</td>
            <td>most expensive</td>
        </tr>
        <tr>
            <td>embarrassed</td>
            <td>more embarrassed</td>
            <td>most embarrassed</td>
        </tr>
    </tbody>
  </table>
</div><br>
<p>There are a few exceptions to the syllables rule. Here are a few examples where the adjective contains two syllables, but is not formed with an <i>-er</i> or <i>-est</i> ending, but instead adds <i>more</i> or <i>most</i> before the adjective in forming the comparatives and superlatives.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
          <tr>
        <th style="font-weight: bold; text-align: center;">Adjective</th>
        <th style="font-weight: bold; text-align: center;">Comparative</th>
        <th style="font-weight: bold; text-align: center;">Superlative</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>anxious</td>
            <td>more anxious</td>
            <td>most anxious</td>
        </tr>
        <tr>
            <td>famous</td>
            <td>more famous</td>
            <td>most famous</td>
        </tr>
        <tr>
            <td>immense</td>
            <td>more immense</td>
            <td>most immense</td>
        </tr>
        <tr>
            <td>nervous</td>
            <td>more nervous</td>
            <td>most nervous</td>
        </tr>
        <tr>
            <td>perfect</td>
            <td>more perfect</td>
            <td>most perfect</td>
        </tr>
    </tbody>
  </table>
</div><br>
<p>Finally, there are a few irregular comparatives and superlatives, which do not take either pattern as shown above.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
          <tr>
        <th style="font-weight: bold; text-align: center;">Adjective</th>
        <th style="font-weight: bold; text-align: center;">Comparative</th>
        <th style="font-weight: bold; text-align: center;">Superlative</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>good</td>
            <td>better</td>
            <td>best</td>
        </tr>
        <tr>
            <td>bad</td>
            <td>worse</td>
            <td>worst</td>
        </tr>
        <tr>
            <td>little</td>
            <td>less</td>
            <td>least</td>
        </tr>
        <tr>
            <td>much</td>
            <td>more</td>
            <td>most</td>
        </tr>
        <tr>
            <td>far (extent)</td>
            <td>further</td>
            <td>furthest</td>
        </tr>
        <tr>
            <td>far (distance)</td>
            <td>farther</td>
            <td>farthest</td>
        </tr>
    </tbody>
  </table>
</div><br>

