<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/nouns' | localize">{{ 'GRAMMAR.Nouns' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.Possessives' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.Possessives' | translate }}</h1>
<p>In English, we form possessives to show the relationship of belonging between two or more people or things. To form the possessive, we add an apostrophe and the letter "s" to the end of the noun. However, if the noun already ends in "s," simply add the apostrophe to the end fo the word.</p>
<ul>
    <li>the dog of Brad = Brad's dog</li>
    <li>the room of the boys = the boys' room</li>
    <li>the equipment of the women = the women's equipment</li>
    <li>the surfboards of the surfers = the surfers' surfboards</li>
</ul>
<p>For names ending in "s," we should add an apostrophe to the end of the word if the word is plural and add an apostrophe "s" if the word is singular.</p>
<ul>
    <li>It is Thomas's book. - <i>The book belongs to Thomas.</i></li>
    <li>That is James's ball. - <i>The ball belongs to James.</i></li>
    <li>We had Christmas at the Hendersons' house. - <i>"Hendersons" here is referring to the family and therefore is plural.</i></li>
    <li>Let's go to the Smiths' house for dinner. - <i>"Smiths" here is referring to the family and therefore is plural.</i></li>
</ul>