<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/adverbs' | localize">{{ 'GRAMMAR.Adverbs' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.Certainty' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.Certainty' | translate }}</h1>
<p>Adverbs of certainty express the degree of certainty of an event. They are usually placed before the main verb in the sentence. However, there are two exceptions. When the main verb is "to be," the adverb directly follows the verb. If there is an auxiliary verb, the adverb is placed after the auxiliary verb and before the main verb.</p>
<p>The following adverbs express certainty: <i>certainly, definitely, probably, undoubtedly, surely, clearly</i></p>
<p>Examples:</p>
<ul>
    <li>I <strong>definitely</strong> ran the fastest my fastest marathon yet!</li>
    <li>She is <strong>certainly</strong> the smartest in the class.</li>
    <li>You have <strong>undoubtedly</strong> brought the finest wine I have ever tasted.</li>
    <li>We <strong>probably</strong> want the cheesecake.</li>
    <li>You are <strong>clearly</strong> the favorite to win the race.</li>
    <li>They will <strong>surely</strong> arrive on time tonight.</li>
</ul>