<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/adjectives' | localize">{{ 'GRAMMAR.Adjectives' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.CompareAttributes' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.CompareAttributes' | translate }}</h1>
<p>When comparing attributes, we have two main sentence structures. When the attributes are equal we use the following structure:</p>
<p><strong>as + comparative adjective + as</strong></p>
<p>Examples:</p>
<ul>
    <li>John is as fast as me.</li>
    <li>I am as smart as she is.</li>
    <li>Lucy is as pleasant as Samantha.</li>
</ul>
<p>When the attributes are unequal, we have three different possible sentence structures:</p>
<p>We can express simply that the two attributes are unequal:</p>
<p><strong>not as + comparative adjective + as</strong></p>
<p>We can also show that something is less of an attribute than another:</p>
<p><strong>less + comparative adjective + than</strong></p>
<p>Finally, we can simply use the adjective and <i>than</i>.</p>
<p><strong>comparative adjective + than</strong></p>
<p>Examples:</p>
<ul>
    <li>The Yellow River is <strong>not as long as</strong> the Nile.</li>
    <li>The Yellow River is <strong>shorter than</strong> the Nile.</li>
    <li>My teacher is <strong>less forgiving</strong> than yours.</li>
    <li>My teacher is <strong>not as forgiving</strong> as yours.</li>
    <li>Video games are <strong>less important</strong> than grammar practice.</li>
    <li>Grammar practice is <strong>more important than</strong> playing video games.</li>
    <li>Video games are <strong>not as important as</strong> grammar practice.</li>
    <li>Portugal is <strong>sunnier</strong> than England.</li>
    <li>England is <strong>less sunny</strong> than Portugal.</li>
</ul>