<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/nouns' | localize">{{ 'GRAMMAR.Nouns' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.CompoundNouns' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.CompoundNouns' | translate }}</h1>
<p>Compound nouns are words that are formed by putting together two separate words. These words can be nouns, verbs, adverbs, or adjectives and, when put together, form a word that means something different than the two original words. In addition, when pronouncing compound words, we stress the first syllable of the word. Compound words can be simply joined together, joined by using a hyphen, or appear as two separate words.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">First Word</th>
        <th style="font-weight: bold; text-align: center;">Second Word</th>
        <th style="font-weight: bold; text-align: center;">Compound Word</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>tooth</td>
        <td>paste</td>
        <td>toothpaste</td>
      </tr>
      <tr>
        <td>under</td>
        <td>ground</td>
        <td>underground</td>
      </tr>
      <tr>
        <td>hair</td>
        <td>cut</td>
        <td>haircut</td>
      </tr>
      <tr>
        <td>out</td>
        <td>put</td>
        <td>output</td>
      </tr>
      <tr>
        <td>swimming</td>
        <td>pool</td>
        <td>swimming pool</td>
      </tr>
      <tr>
        <td>dry</td>
        <td>cleaning</td>
        <td>dry-cleaning</td>
      </tr>
      <tr>
        <td>black</td>
        <td>board</td>
        <td>blackboard</td>
      </tr>
      <tr>
        <td>high</td>
        <td>light</td>
        <td>highlight</td>
      </tr>
      <tr>
        <td>foot</td>
        <td>ball</td>
        <td>football</td>
      </tr>
      <tr>
        <td>washing</td>
        <td>machine</td>
        <td>washing machine</td>
      </tr>
      <tr>
        <td>life</td>
        <td>time</td>
        <td>lifetime</td>
      </tr>
      <tr>
        <td>else</td>
        <td>where</td>
        <td>elsewhere</td>
      </tr>
      <tr>
        <td>sun</td>
        <td>flower</td>
        <td>sunflower</td>
      </tr>
      <tr>
        <td>air</td>
        <td>port</td>
        <td>airport</td>
      </tr>
      <tr>
        <td>hand</td>
        <td>made</td>
        <td>handmade</td>
      </tr>
      <tr>
        <td>after</td>
        <td>noon</td>
        <td>afternoon</td>
      </tr>
    </tbody>
  </table>
</div>