<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/nouns' | localize">{{ 'GRAMMAR.Nouns' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.Gender' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.Gender' | translate }}</h1>
<p>For most <strong> Nouns </strong> in English there is no distinction between masculine and feminine. However, like most things in English, there are a few exceptions, such as the examples below.</p><br/>
<h4>People:</h4>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Masculine</th>
        <th style="font-weight: bold; text-align: center;">Feminine</th>
        <th style="font-weight: bold; text-align: center;">Neutral</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>man</td>
        <td>woman</td>
        <td>person</td>
      </tr>
      <tr>
        <td>father</td>
        <td>mother</td>
        <td>parent</td>
      </tr>
      <tr>
        <td>boy</td>
        <td>girl</td>
        <td>child</td>
      </tr>
      <tr>
        <td>aunt</td>
        <td>uncle</td>
        <td></td>
      </tr>
      <tr>
        <td>husband</td>
        <td>wife</td>
        <td>spouse</td>
      </tr>
      <tr>
        <td>actor</td>
        <td>actress</td>
        <td></td>
      </tr>
      <tr>
        <td>prince</td>
        <td>princess</td>
        <td></td>
      </tr>
      <tr>
        <td>groom</td>
        <td>bride</td>
        <td></td>
      </tr>
      <tr>
        <td>brother</td>
        <td>sister</td>
        <td>sibling</td>
      </tr>
      <tr>
        <td>gentleman</td>
        <td>lady</td>
        <td></td>
      </tr>
      <tr>
        <td>god</td>
        <td>goddess</td>
        <td></td>
      </tr>
      <tr>
        <td>heir</td>
        <td>heiress</td>
        <td></td>
      </tr>
      <tr>
        <td>king</td>
        <td>queen</td>
        <td></td>
      </tr>
      <tr>
        <td>lad</td>
        <td>lass</td>
        <td></td>
      </tr>
      <tr>
        <td>monk</td>
        <td>nun</td>
        <td></td>
      </tr>
      <tr>
        <td>Mr.</td>
        <td>Mrs.</td>
        <td></td>
      </tr>
      <tr>
        <td>nephew</td>
        <td>niece</td>
        <td></td>
      </tr>
      <tr>
        <td>Sir</td>
        <td>Madam</td>
        <td></td>
      </tr>
      <tr>
        <td>waiter</td>
        <td>waitress</td>
        <td></td>
      </tr>
      <tr>
        <td>wizard</td>
        <td>witch</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div><br/>
<p>Many nouns that refer to people's roles and jobs can be used for either a masculine or a feminine subject, like for example cousin, teenager, teacher, doctor, student, friend, colleague</p>
<div>
  <ul>
    <li>Mary is my friend. She is a doctor.</li>
    <li>Peter is my cousin. He is a doctor.</li>
    <li>Arthur is my friend. He is a student.</li>
    <li>Jane is my cousin. She is a student.</li>
  </ul>
</div>
<p>It is possible to make the distinction for these neutral words by adding the words male or female.</p>
<div>
  <ul>
    <li>Sam is a female doctor.</li>
    <li>No, he is not my boyfriend, he is just a male friend.</li>
    <li>I have three female cousins and two male cousins.</li>
  </ul>
</div>
<p>Infrequently, nouns describing things without a gender are referred to with a gendered pronoun to show familiarity. It is also correct to use the gender-neutral pronoun (it).</p>
<div>
  <ul>
    <li>I love my car. She (the car) is my greatest passion.</li>
    <li>France is popular with her (France's) neighbours at the moment.</li>
    <li>I travelled from England to New York on the Queen Elizabeth; she (the Queen Elizabeth) is a great ship.</li>
  </ul>
</div><br/>
<h4>Animals:</h4>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Masculine</th>
        <th style="font-weight: bold; text-align: center;">Feminine</th>
        <th style="font-weight: bold; text-align: center;">Neutral</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>rooster</td>
        <td>hen</td>
        <td>chicken</td>
      </tr>
      <tr>
        <td>stallion</td>
        <td>mare</td>
        <td>horse</td>
      </tr>
      <tr>
        <td>buck</td>
        <td>doe</td>
        <td>antelope</td>
      </tr>
      <tr>
        <td>boar</td>
        <td>sow</td>
        <td>badger</td>
      </tr>
      <tr>
        <td>boar</td>
        <td>sow</td>
        <td>bear</td>
      </tr>
      <tr>
        <td>boar</td>
        <td>sow</td>
        <td>pig</td>
      </tr>
      <tr>
        <td>bull</td>
        <td>heifer</td>
        <td>cow</td>
      </tr>
      <tr>
        <td>tom-cat</td>
        <td>tabby-cat</td>
        <td>cat</td>
      </tr>
      <tr>
        <td>cob</td>
        <td>pen</td>
        <td>swan</td>
      </tr>
      <tr>
        <td>buck</td>
        <td>doe</td>
        <td>deer</td>
      </tr>
      <tr>
        <td>donkey</td>
        <td>jenny</td>
        <td></td>
      </tr>
      <tr>
        <td>drone</td>
        <td>bee</td>
        <td></td>
      </tr>
      <tr>
        <td>fox</td>
        <td>vixen</td>
        <td></td>
      </tr>
      <tr>
        <td>gander</td>
        <td>goose</td>
        <td></td>
      </tr>
      <tr>
        <td>billy-goat</td>
        <td>nanny-goat</td>
        <td>goat</td>
      </tr>
      <tr>
        <td>lion</td>
        <td>lioness</td>
        <td></td>
      </tr>
      <tr>
        <td>pig</td>
        <td>sow</td>
        <td></td>
      </tr>
      <tr>
        <td>bull-seal</td>
        <td>cow-seal</td>
        <td>seal</td>
      </tr>
      <tr>
        <td>sheep</td>
        <td>ewe</td>
        <td></td>
      </tr>
      <tr>
        <td>cock-sparrow</td>
        <td>hen-sparrow</td>
        <td>sparrow</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<p>English distinguishes between the genders of many animals, as you can see above. However, most of the genders are seldom used. The most common that you may encounter are rooster and hen, stallion and mare, bull and heifer, and pig and sow. For even these, you will commonly hear male or female to describe the animal.</p>
<div>
  <ul>
    <li>Is that a male goat or a female goat? (More common.)</li>
    <li>Is that a billy-goat or a nanny-goat? (Less common.)</li>
    <li>Is that a male fox or a female fox? (More common.)</li>
    <li>Is that a fox or a vixen? (Less common.)</li>
  </ul>
</div>
