<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.Adverbs' | translate }}</li>
</ol>
<h1 style="padding-bottom: 10px;" class="text-center">{{ 'GRAMMAR.Adverbs' | translate }}</h1>
<p>Adverbs are words that describe verbs, adjectives, and other adverbs. </p>
<div style="margin: auto;">
  <ul>
    <li><a [routerLink]="'/grammar/fromadjectives' | localize">{{ 'GRAMMAR.FromAdjectives' | translate }}</a></li>
    <li><a [routerLink]="'/grammar/place' | localize">{{ 'GRAMMAR.Place' | translate }}</a></li>
    <li><a [routerLink]="'/grammar/time' | localize">{{ 'GRAMMAR.Time' | translate }}</a></li>
    <li><a [routerLink]="'/grammar/degree' | localize">{{ 'GRAMMAR.Degree' | translate }}</a></li>
    <li><a [routerLink]="'/grammar/certainty' | localize">{{ 'GRAMMAR.Certainty' | translate }}</a></li>
    <li><a [routerLink]="'/grammar/viewpointandcommentingadverbs' | localize">{{ 'GRAMMAR.ViewpointandCommenting' | translate }}</a></li>
    <li><a [routerLink]="'/grammar/relative' | localize">{{ 'GRAMMAR.Relative' | translate }}</a></li>
    <li><a [routerLink]="'/grammar/interrogative' | localize">{{ 'GRAMMAR.Interrogative' | translate }}</a></li>
  </ul>
</div>