<nav class="navbar navbar-default" style="margin-bottom: 10px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The English Authority</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li routerLinkActive="nav-item active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="'/' | localize" [routerLinkActive]="['router-link-active']">Home</a>
        </li>
        <li routerLinkActive="nav-item active">
          <a class="nav-link" [routerLink]="'/grammar' | localize" [routerLinkActive]="['router-link-active']">{{ 'NAVBAR.Grammar' | translate }}</a>
        </li>
        <li routerLinkActive="nav-item active">
          <a class="nav-link" [routerLink]="'/pronunciation' | localize" [routerLinkActive]="['router-link-active']">{{ 'NAVBAR.Pronunciation' | translate }}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li dropdown>
          <a dropdownToggle class="dropdown-toggle" style="cursor: pointer;"><span class="glyphicon glyphicon-globe"></span> Language <span class="caret"></span></a>
<!--           <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="changeLang('en')" style="cursor: pointer;" [routerLink]="'/en'" [routerLinkActive]="['router-link-active']">English</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="changeLang('it')" style="cursor: pointer;" [routerLink]="'/it'" [routerLinkActive]="['router-link-active']">Italiano</a></li>
          </ul> -->
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="changeLanguage('en')" style="cursor: pointer;" [routerLinkActive]="['router-link-active']">English</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="changeLanguage('it')" style="cursor: pointer;" [routerLinkActive]="['router-link-active']">Italiano</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>