<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/adverbs' | localize">{{ 'GRAMMAR.Adverbs' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.Interrogative' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.Interrogative' | translate }}</h1>
<p>Interrogative adverbs are used to form a question. These are: <i>why, when, where,</i> and <i>how</i>. </p>
<p>Note that <i>what, who, whom, which,</i> and <i>whose</i> are interrogative pronouns.</p>
<p>Examples:</p>
<ul>
    <li>Why is the sky blue?</li>
    <li>Why do I have ten fingers?</li>
    <li>Where is Alaska?</li>
    <li>Where can I find my dog?</li>
    <li>When is mom coming home?</li>
    <li>When is dinner ready?</li>
    <li>How do you do that?</li>
    <li>How can I do my homework if I have no pencil?</li>
</ul>