<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/nouns' | localize">{{ 'GRAMMAR.Nouns' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.Nationalities' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.Nationalities' | translate }}</h1>
<p>Forming the adjectives and nouns from geographic regions is not always simple in English. Most adjectives derived from regions or continents end in an –n, while forming the adjectives from different nations can be quite difficult. Finally, English often has a different name for those from the country and the adjective used to describe something from that country. In certain cases, these adjectives may be considered offensive and in doubt, use "a person from" + country name.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Region/Continent</th>
        <th style="font-weight: bold; text-align: center;">Adjective</th>
        <th style="font-weight: bold; text-align: center;">Person</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Africa</td>
        <td>African</td>
        <td>an African (person)</td>
      </tr>
      <tr>
          <td>Asia</td>
          <td>Asian</td>
          <td>an Asian (person)</td>
      </tr>
      <tr>
          <td>Europe</td>
          <td>European</td>
          <td>a European (person)</td>
      </tr>
      <tr>
          <td>Oceania</td>
          <td>Oceanian</td>
          <td>Oceanian (seldom used)</td>
      </tr>
      <tr>
          <td>Central America</td>
          <td>Central American</td>
          <td>a Central American</td>
      </tr>
      <tr>
          <td>North America</td>
          <td>North American</td>
          <td>a North American (person)</td>
      </tr>
      <tr>
          <td>South America</td>
          <td>South American</td>
          <td>a South American (person)</td>
      </tr>
      <tr>
          <td>Middle East</td>
          <td>Middle Eastern</td>
          <td>a Middle Easterner</td>
      </tr>
      <tr>
          <td>Southeast Asia</td>
          <td>Southeast Asian</td>
          <td>a Southeast Asian (person)</td>
      </tr>
    </tbody>
</table>
</div>
<div style="padding-top: 20px;">
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Country</th>
        <th style="font-weight: bold; text-align: center;">Adjective</th>
        <th style="font-weight: bold; text-align: center;">Person</th>
      </tr>
    </thead>

    <tr>
        <td>Afghanistan</td>
        <td>Afghan</td>
        <td>an Afghan</td>
    </tr>
    <tr>
        <td>Algeria</td>
        <td>Algerian</td>
        <td>an Algerian</td>
    </tr>
    <tr>
        <td>Angola</td>
        <td>Angolan</td>
        <td>an Angolan</td>
    </tr>
    <tr>
        <td>Argentina</td>
        <td>Argentine</td>
        <td>an Argentine</td>
    </tr>
    <tr>
        <td>Austria</td>
        <td>Austrian</td>
        <td>an Austrian</td>
    </tr>
    <tr>
        <td>Australia</td>
        <td>Australian</td>
        <td>an Australian</td>
    </tr>
    <tr>
        <td>Bangladesh</td>
        <td>Bangladeshi</td>
        <td>a Bangladeshi</td>
    </tr>
    <tr>
        <td>Belarus</td>
        <td>Belarusian</td>
        <td>a Belarusian</td>
    </tr>
    <tr>
        <td>Belgium</td>
        <td>Belgian</td>
        <td>a Belgian</td>
    </tr>
    <tr>
        <td>Bolivia</td>
        <td>Bolivian</td>
        <td>a Bolivian</td>
    </tr>
    <tr>
        <td>Bosnia and Herzegovina</td>
        <td>Bosnian/Herzegovinian</td>
        <td>a Bosnian/a Herzegovinian</td>
    </tr>
    <tr>
        <td>Brazil</td>
        <td>Brazilian</td>
        <td>a Brazilian</td>
    </tr>
    <tr>
        <td>Britain</td>
        <td>British</td>
        <td>a Briton</td>
    </tr>
    <tr>
        <td>Bulgaria</td>
        <td>Bulgarian</td>
        <td>a Bulgarian</td>
    </tr>
    <tr>
        <td>Cambodia</td>
        <td>Cambodian</td>
        <td>a Cambodian</td>
    </tr>
    <tr>
        <td>Cameroon</td>
        <td>Cameroonian</td>
        <td>a Cameroonian</td>

    </tr>
    <tr>
        <td>Canada</td>
        <td>Canadian</td>
        <td>a Canadian</td>
    </tr>
    <tr>
        <td>Central African Republic</td>
        <td>Central African</td>
        <td>a Central African</td>
    </tr>
    <tr>
        <td>Chad</td>   <td>Chadian</td>    <td>a Chadian</td>      </tr>
    <tr>
        <td>China</td>  <td>Chinese</td>    <td>a Chinese person</td>       </tr>
    <tr>
        <td>Colombia</td>   <td>Colombian</td>  <td>a Colombian</td>        </tr>
    <tr>
        <td>Costa Rica</td> <td>Costa Rican</td>    <td>a Costa Rican</td>      </tr>
    <tr>
        <td>Croatia</td>    <td>Croatian</td>   <td>a Croat</td>        </tr>
    <tr>
        <td>the Czech Republic</td> <td>Czech</td>  <td>a Czech person</td>     </tr>
    <tr>
        <td>Democratic Republic of the Congo</td>   <td>Congolese</td>  <td>a Congolese person</td>        </tr>
    <tr>
        <td>Denmark</td>    <td>Danish</td> <td>a Dane</td>     </tr>
    <tr>
        <td>Ecuador</td>    <td>Ecuadorian</td> <td>an Ecuadorian</td>      </tr>
    <tr>
        <td>Egypt</td>  <td>Egyptian</td>   <td>an Egyptian</td>        </tr>
    <tr>
        <td>El Salvador</td>    <td>Salvadoran</td> <td>a Salvadoran (or Salvadorian, Salvadorean)</td>     </tr>
    <tr>
        <td>England</td>    <td>English</td>    <td>an Englishman/Englishwoman</td>     </tr>
    <tr>
        <td>Estonia</td>    <td>Estonian</td>   <td>an Estonian</td>        </tr>
    <tr>
        <td>Ethiopia</td>   <td>Ethiopian</td>  <td>an Ethiopian</td>       </tr>
    <tr>
        <td>Finland</td>    <td>Finnish</td>    <td>a Finn</td>     </tr>
    <tr>
        <td>France</td> <td>French</td> <td>a Frenchman/Frenchwoman</td>        </tr>
    <tr>
        <td>Germany</td>    <td>German</td> <td>a German</td>       </tr>
    <tr>
        <td>Ghana</td>  <td>Ghanaian</td>   <td>a Ghanaian</td>     </tr>
    <tr>
        <td>Greece</td> <td>Greek</td>  <td>a Greek</td>        </tr>
    <tr>
        <td>Guatemala</td>  <td>Guatemalan</td> <td>a Guatemalan</td>       </tr>
    <tr>
        <td>Holland</td>    <td>Dutch</td>  <td>a Dutchman/Dutchwoman</td>      </tr>
    <tr>
        <td>Honduras</td>   <td>Honduran</td>   <td>a Honduran</td>     </tr>
    <tr>
        <td>Hungary</td>    <td>Hungarian</td>  <td>a Hungarian</td>        </tr>
    <tr>
        <td>Iceland</td>    <td>Icelandic</td>  <td>an Icelander</td>       </tr>
    <tr>
        <td>India</td>  <td>Indian</td> <td>an Indian</td>      </tr>
    <tr>
        <td>Indonesia</td>  <td>Indonesian</td> <td>an Indonesian</td>      </tr>
    <tr>
        <td>Iran</td>   <td>Iranian</td>    <td>an Iranian</td>     </tr>
    <tr>
        <td>Iraq</td>   <td>Iraqi</td>  <td>an Iraqi</td>       </tr>
    <tr>
        <td>Ireland</td>    <td>Irish</td>  <td>an Irishman/Irishwoman</td>     </tr>
    <tr>
        <td>Israel</td> <td>Israeli</td>    <td>an Israeli</td>     </tr>
    <tr>
        <td>Italy</td>  <td>Italian</td>    <td>an Italian</td>     </tr>
    <tr>
        <td>Ivory Coast</td>    <td>Ivorian</td>    <td>an Ivorian</td>     </tr>
    <tr>
        <td>Jamaica</td>    <td>Jamaican</td>   <td>a Jamaican</td>     </tr>
    <tr>
        <td>Japan</td>  <td>Japanese</td>   <td>a Japanese person</td>      </tr>
    <tr>
        <td>Jordan</td> <td>Jordanian</td>  <td>a Jordanian</td>        </tr>
    <tr>
        <td>Kazakhstan</td> <td>Kazakh</td> <td>a Kazakhstani </td>        </tr>
    <tr>
        <td>Kenya</td>  <td>Kenyan</td> <td>a Kenyan</td>       </tr>
    <tr>
        <td>Laos</td>   <td>Lao</td>    <td>a Laotian</td>       </tr>
    <tr>
        <td>Latvia</td> <td>Latvian</td>    <td>a Latvian</td>      </tr>
    <tr>
        <td>Libya</td>  <td>Libyan</td> <td>a Libyan</td>       </tr>
    <tr>
        <td>Lithuania</td>  <td>Lithuanian</td> <td>a Lithuanian</td>       </tr>
    <tr>
        <td>Madagascar</td> <td>Malagasy</td>   <td>a Malagasy</td>     </tr>
    <tr>
        <td>Malaysia</td>   <td>Malaysian</td>  <td>a Malaysian</td>        </tr>
    <tr>
        <td>Mali</td>   <td>Malian</td> <td>a Malian</td>       </tr>
    <tr>
        <td>Mauritania</td> <td>Mauritanian</td>    <td>a Mauritanian</td>      </tr>
    <tr>
        <td>Mexico</td> <td>Mexican</td>    <td>a Mexican</td>       </tr>
    <tr>
        <td>Morocco</td>    <td>Moroccan</td>   <td>a Moroccan</td>     </tr>
    <tr>
        <td>Namibia</td>    <td>Namibian</td>   <td>a Namibian</td>     </tr>
    <tr>
        <td>New Zealand</td>    <td>New Zealand</td>    <td>a New Zealander</td>        </tr>
    <tr>
        <td>Nicaragua</td>  <td>Nicaraguan</td> <td>a Nicaraguan</td>       </tr>
    <tr>
        <td>Niger</td>  <td>Nigerien</td>   <td>a Nigerien</td>     </tr>
    <tr>
        <td>Nigeria</td>    <td>Nigerian</td>   <td>a Nigerian</td>     </tr>
    <tr>
        <td>Norway</td> <td>Norwegian</td>  <td>a Norwegian</td>        </tr>
    <tr>
        <td>Oman</td>   <td>Omani</td>  <td>an Omani</td>       </tr>
    <tr>
        <td>Pakistan</td>   <td>Pakistani</td>  <td>a Pakistani</td>        </tr>
    <tr>
        <td>Panama</td> <td>Panamanian</td> <td>a Panamanian</td>       </tr>
    <tr>
        <td>Paraguay</td>   <td>Paraguayan</td> <td>a Paraguayan</td>       </tr>
    <tr>
        <td>Peru</td>   <td>Peruvian</td>   <td>a Peruvian</td>     </tr>
    <tr>
        <td>The Philippines</td>    <td>Philippine</td> <td>a Filipino</td>     </tr>
    <tr>
        <td>Poland</td> <td>Polish</td> <td>a Pole </td>     </tr>
    <tr>
        <td>Portugal</td>   <td>Portuguese</td> <td>a Portuguese person</td>        </tr>
    <tr>
        <td>Republic of the Congo</td>  <td>Congolese</td>  <td>a Congolese person</td>     </tr>
    <tr>
        <td>Romania</td>    <td>Romanian</td>   <td>a Romanian</td>     </tr>
    <tr>
        <td>Russia</td> <td>Russian</td>    <td>a Russian</td>      </tr>
    <tr>
        <td>Saudi Arabia</td>   <td>Saudi, Saudi Arabian</td>   <td>a Saudi, a Saudi Arabian</td>       </tr>
    <tr>
        <td>Scotland</td>   <td>Scottish</td>   <td>a Scot</td>     </tr>
    <tr>
        <td>Senegal</td>    <td>Senegalese</td> <td>a Senegalese person</td>        </tr>
    <tr>
        <td>Serbia</td> <td>Serbian</td>    <td>a Serbian</td>       </tr>
    <tr>
        <td>Singapore</td>  <td>Singaporean</td>    <td>a Singaporean</td>      </tr>
    <tr>
        <td>Slovakia</td>   <td>Slovak</td> <td>a Slovak</td>       </tr>
    <tr>
        <td>Somalia</td>    <td>Somalian</td>   <td>a Somalian</td>     </tr>
    <tr>
        <td>South Africa</td>   <td>South African</td>  <td>a South African</td>        </tr>
    <tr>
        <td>Spain</td>  <td>Spanish</td>    <td>a Spaniard </td>     </tr>
    <tr>
        <td>Sudan</td>  <td>Sudanese</td>   <td>a Sudanese person</td>      </tr>
    <tr>
        <td>Sweden</td> <td>Swedish</td>    <td>a Swede</td>        </tr>
    <tr>
        <td>Switzerland</td>    <td>Swiss</td>  <td>a Swiss person</td>     </tr>
    <tr>
        <td>Syria</td>  <td>Syrian</td> <td>a Syrian</td>       </tr>
    <tr>
        <td>Thailand</td>   <td>Thai</td>   <td>a Thai person</td>      </tr>
    <tr>
        <td>Tunisia</td>    <td>Tunisian</td>   <td>a Tunisian</td>     </tr>
    <tr>
        <td>Turkey</td> <td>Turkish</td>    <td>a Turk</td>     </tr>
    <tr>
        <td>Turkmenistan</td>   <td>Turkmen</td>    <td>a Turkmen / the Turkmens</td>       </tr>
    <tr>
        <td>Ukraine</td>    <td>Ukranian</td>   <td>a Ukranian</td>     </tr>
    <tr>
        <td>The United Arab Emirates</td>   <td>Emirati</td>    <td>an Emirati</td>     </tr>
    <tr>
        <td>The United States</td>  <td>American</td>   <td>an American</td>        </tr>
    <tr>
        <td>Uruguay</td>    <td>Uruguayan</td>  <td>a Uruguayan</td>        </tr>
    <tr>
        <td>Vietnam</td>    <td>Vietnamese</td> <td>a Vietnamese person</td>        </tr>
    <tr>
        <td>Wales</td>  <td>Welsh</td>  <td>a Welshman/Welshwoman</td>      </tr>
    <tr>
        <td>Zambia</td> <td>Zambian</td>    <td>a Zambian</td>      </tr>
    <tr>
        <td>Zimbabwe</td>   <td>Zimbabwean</td> <td>a Zimbabwean</td>       </tr>



    </table>
</div>

<div style="padding-top: 20px;">
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">City</th>
        <th style="font-weight: bold; text-align: center;">Adjective</th>
        <th style="font-weight: bold; text-align: center;">Person</th>
      </tr>
    </thead>
    <tr>
        <td>Paris</td>
        <td>Parisian</td>
        <td>Parisian</td>
    </tr>
    <tr>
        <td>New York</td>
        <td>New York</td>
        <td>a New Yorker</td>
    </tr>
    <tr>
        <td>Houston</td>
        <td>Houstonian</td>
        <td>a Houstonian</td>
    </tr>
    <tr>
        <td>Los Angeles</td>
        <td>Angeleno</td>
        <td>an Angeleno</td>
    </tr>
    <tr>
        <td>Toronto</td>
        <td>Torontonian</td>
        <td>a Torontonian</td>
    </tr>
  </table>
</div>
