<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/adverbs' | localize">{{ 'GRAMMAR.Adverbs' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.FromAdjectives' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.FromAdjectives' | translate }}</h1>
<p>Adverbs can be formed from adjectives in several different ways. Usually, we simply add <i>-ly</i> to the end of the adjective to form an adverb. However, if the adjective ends in <i>-y</i>, then we should remove the <i>-y</i> and add <i>-ily</i>. If the adjective ends in <i>-e</i>, we should drop the <i>-e</i> and add <i>-ly</i>. If the adjective ends in <i>-ful</i>, we double the <i>l</i> at the end of the word before adding <i>-ly</i>. Finally, if the adjective ends in <i>-ic</i>, we should add <i>-ally</i>.</p>
<p>Examples:</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Adjective</th>
        <th style="font-weight: bold; text-align: center;">Adverb</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>active</td>
            <td>actively</td>
        </tr>
        <tr>
            <td>massive</td>
            <td>massively</td>
        </tr>
        <tr>
            <td>careful</td>
            <td>carefully</td>
        </tr>
        <tr>
            <td>cheerful</td>
            <td>cheerfully</td>
        </tr>
        <tr>
            <td>clear</td>
            <td>clearly</td>
        </tr>
        <tr>
            <td>different</td>
            <td>differently</td>
        </tr>
        <tr>
            <td>healthy</td>
            <td>healthily</td>
        </tr>
        <tr>
            <td>impressive</td>
            <td>impressively</td>
        </tr>
        <tr>
            <td>insulting</td>
            <td>insultingly</td>
        </tr>
        <tr>
            <td>monotonous</td>
            <td>monotonously</td>
        </tr>
        <tr>
            <td>quick</td>
            <td>quickly</td>
        </tr>
        <tr>
            <td>bad</td>
            <td>badly</td>
        </tr>
        <tr>
            <td>lazy</td>
            <td>lazily</td>
        </tr>
        <tr>
            <td>basic</td>
            <td>basically</td>
        </tr>
        <tr>
            <td>economic</td>
            <td>economically</td>
        </tr>
    </tbody>
  </table>
</div>