<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/nouns' | localize">{{ 'GRAMMAR.Nouns' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.CountableandUncountable' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.CountableandUncountable' | translate }}</h1>
<p>English differentiates between nouns that we can count using numbers, such as cars, bags, and bottles, and those that we cannot count, such as traffic, water, and rice. This is important to keep this distinction in mind as our grammar differs accordingly.</p>
<h4>Countable Nouns:</h4>
<p>Countable nouns are the most common form of noun. They have both a singular and plural form. Because of this, you can use the articles "a" or "an" before this type of noun. Furthermore, when asking about the quantity of this noun, we can ask "How many?"</p><br/>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>one boy</td>
        <td>two boys</td>
      </tr>
      <tr>
        <td>one dog</td>
        <td>three dogs</td>
      </tr>
      <tr>
        <td>one cat</td>
        <td>two cats</td>
      </tr>
      <tr>
        <td>one bag</td>
        <td>two bags</td>
      </tr>
      <tr>
        <td>one bottle</td>
        <td>two bottles</td>
      </tr>
    </tbody>
  </table>
</div>
<h4>Uncountable Nouns:</h4>
<p>Uncountable nouns have only one form. They cannot be counted by using numbers. Instead, they must be used in a prepositional phrase. For example, "water" is an uncounable noun and to make it plural, we must say "two cups of water."</p>
<P>These nouns are always used in a singular form and do not have a plural form. We cannot use the articles "a" or "an" with uncountable nouns, but we can use the article "the." Furthermore, when asking about the quantity of this type of noun, we ask "How much?"</P>
<div>
  <ul>
    <li>Liquids:
      <ul>
        <li>water</li>
        <li>milk</li>
        <li>coffee</li>
      </ul>
    </li>
    <li>Abstract Ideas:
      <ul>
        <li>advice</li>
        <li>chaos</li>
        <li>motivation</li>
      </ul>
    </li>
    <li>Powder or Grain:
      <ul>
        <li>rice</li>
        <li>wheat</li>
        <li>sand</li>
      </ul>
    </li>
    <li>Mass Nouns:
      <ul>
        <li>furniture</li>
        <li>hair</li>
        <li>transportation</li>
      </ul>
    </li>
    <li>Natural Phenomena:
      <ul>
        <li>sunshine</li>
        <li>snow</li>
        <li>rain</li>
      </ul>
    </li>
    <li>States of Being:
      <ul>
        <li>sleep</li>
        <li>stress</li>
        <li>childhood</li>
      </ul>
    </li>
    <li>Feelings:
      <ul>
        <li>anger</li>
        <li>happiness</li>
        <li>enthusiasm</li>
      </ul>
    </li>
    <li>Gas:
      <ul>
        <li>oxygen</li>
        <li>air</li>
        <li>nitrogen</li>
      </ul>
    </li>
    <li>Other:
      <ul>
        <li>information</li>
        <li>accomodation</li>
        <li>assistance</li>
        <li>clothing</li>
        <li>education</li>
        <li>food</li>
        <li>motivation</li>
        <li>news</li>
        <li>pollution</li>
        <li>software</li>
      </ul>
    </li>
  </ul>
</div>