<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/nouns' | localize">{{ 'GRAMMAR.Nouns' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.PluralNouns' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.PluralNouns' | translate }}</h1>
<p>The plural form of the noun in most cases is formed by simply adding an "-s" to the end of the word.</p><br/>
<h4>Regular Nouns:</h4>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>apple</td>
        <td>apples</td>
      </tr>
      <tr>
        <td>chair</td>
        <td>chairs</td>
      </tr>
      <tr>
        <td>book</td>
        <td>books</td>
      </tr>
      <tr>
        <td>computer</td>
        <td>computers</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<h4>Irregular Nouns:</h4>
<p>Unfortunately, there are a lot of exceptions in English. However, some of these have rules. In the following examples, to pluralize singular nouns ending in the letters, <strong>s, x, z, ch,</strong> and <strong>sh</strong> simply add <strong>-es</strong>.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>box</td>
        <td>boxes</td>
      </tr>
      <tr>
        <td>wish</td>
        <td>wishes</td>
      </tr>
      <tr>
        <td>watch</td>
        <td>watches</td>
      </tr>
      <tr>
        <td>kiss</td>
        <td>kisses</td>
      </tr>
      <tr>
        <td>buzz</td>
        <td>buzzes</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<p>For nouns ending in <strong>-y</strong>, we simply drop the <strong>-y</strong> and add <strong>-ies</strong>.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>baby</td>
        <td>babies</td>
      </tr>
      <tr>
        <td>hobby</td>
        <td>hobbies</td>
      </tr>
      <tr>
        <td>family</td>
        <td>families</td>
      </tr>
      <tr>
        <td>berry</td>
        <td>berries</td>
      </tr>
      <tr>
        <td>lady</td>
        <td>ladies</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<p>Often, words ending in the letter <strong>-f</strong> will drop the <strong>-f</strong> and add <strong>-ves</strong> to the end of the word.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>leaf</td>
        <td>leaves</td>
      </tr>
      <tr>
        <td>half</td>
        <td>halves</td>
      </tr>
      <tr>
        <td>knife</td>
        <td>knives</td>
      </tr>
      <tr>
        <td>wife</td>
        <td>wives</td>
      </tr>
      <tr>
        <td>life</td>
        <td>lives</td>
      </tr>
      <tr>
        <td>elf</td>
        <td>elves</td>
      </tr>
      <tr>
        <td>loaf</td>
        <td>loaves</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<p>The English language takes some nouns from Latin and uses their grammar to make them plural. In most instances, when the words, originating from Latin, end in <strong>-us</strong> will drop the <strong>-us</strong> and add <strong>-i</strong> to the end of the word.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>cactus</td>
        <td>cacti</td>
      </tr>
      <tr>
        <td>focus</td>
        <td>foci</td>
      </tr>
      <tr>
        <td>fungus</td>
        <td>fungi</td>
      </tr>
      <tr>
        <td>nucleus</td>
        <td>nuclei</td>
      </tr>
      <tr>
        <td>syllabus</td>
        <td>syllabi</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<p>Words that end in <strong>-is</strong> often drop the <strong>-is</strong> and add <strong>-es</strong> to the end of the word.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>analysis</td>
        <td>analyses</td>
      </tr>
      <tr>
        <td>diagnosis</td>
        <td>diagnoses</td>
      </tr>
      <tr>
        <td>oasis</td>
        <td>oases</td>
      </tr>
      <tr>
        <td>thesis</td>
        <td>theses</td>
      </tr>
      <tr>
        <td>crisis</td>
        <td>crises</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<p>Unfortunately, there are nouns that don't follow any rules. The most common ones are below.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>woman</td>
        <td>women</td>
      </tr>
      <tr>
        <td>man</td>
        <td>men</td>
      </tr>
      <tr>
        <td>child</td>
        <td>children</td>
      </tr>
      <tr>
        <td>tooth</td>
        <td>teeth</td>
      </tr>
      <tr>
        <td>foot</td>
        <td>feet</td>
      </tr>
      <tr>
        <td>person</td>
        <td>people</td>
      </tr>
      <tr>
        <td>mouse</td>
        <td>mice</td>
      </tr>
      <tr>
        <td>goose</td>
        <td>geese</td>
      </tr>
      <tr>
        <td>potato</td>
        <td>potatoes</td>
      </tr>
      <tr>
        <td>tomato</td>
        <td>tomatoes</td>
      </tr>
      <tr>
        <td>phenomenon</td>
        <td>phenomena</td>
      </tr>
      <tr>
        <td>criterion</td>
        <td>criteria</td>
      </tr>
      <tr>
        <td>datum</td>
        <td>data</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<p>Some words are the same in singular and plural.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Singular</th>
        <th style="font-weight: bold; text-align: center;">Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>aircraft</td>
        <td>aircraft</td>
      </tr>
      <tr>
        <td>spacecraft</td>
        <td>spacecraft</td>
      </tr>
      <tr>
        <td>deer</td>
        <td>deer</td>
      </tr>
      <tr>
        <td>fish</td>
        <td>fish</td>
      </tr>
      <tr>
        <td>moose</td>
        <td>moose</td>
      </tr>
      <tr>
        <td>sheep</td>
        <td>sheep</td>
      </tr>
      <tr>
        <td>shrimp</td>
        <td>shrimp</td>
      </tr>
    </tbody>
  </table>
</div>