<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/adjectives' | localize">{{ 'GRAMMAR.Adjectives' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.EqualQuantities' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.EqualQuantities' | translate }}</h1>
<p>When comparing two things of equal quantity, we use the following structure:</p>
<p><strong>as + adjective + (noun) + as</strong></p>
<p>Note that the adjective will depend on whether the noun is countable or uncountable. For countable nouns, we can use <i>many</i> and <i>few</i>. Whereas, for uncountable nouns, we should use <i>much</i> and <i>little</i>.</p>
<p>Examples:</p>
<ul>
    <li>I have <strong>as many bottles as</strong>he does. - <i>countable</i></li>
    <li>I have <strong>as much water as</strong>he does. - <i>uncountable</i></li>
    <li>They have <strong>as much time as</strong> we do. - <i>uncountable</i> </li>
    <li>They have <strong>as many hours in the day as</strong> we do. - <i>countable</i></li>
    <li>Sara wants <strong>as few tasks as</strong> I have.- <i>countable</i></li>
    <li>Sara wants <strong>as little work as</strong> I have. - <i>uncountable</i></li>
</ul>