<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/' | localize">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar' | localize">{{ 'NAVBAR.Grammar' | translate }}</a></li>
  <li class="breadcrumb-item"><a [routerLink]="'/grammar/nouns' | localize">{{ 'GRAMMAR.Nouns' | translate }}</a></li>
  <li class="breadcrumb-item active">{{ 'GRAMMAR.Pronouns' | translate }}</li>
</ol>
<h1>{{ 'GRAMMAR.Pronouns' | translate }}</h1>
<p>Pronouns take the place of a noun. We use pronouns mainly to avoid repeating the subject in the sentence. Which pronoun we use will depend on how the pronoun is used in the sentence.</p><br/>
<h4>Subject Pronouns</h4>
<p>Pronouns can be used as a subject in the sentence.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Person</th>
        <th style="font-weight: bold; text-align: center;">Number</th>
        <th style="font-weight: bold; text-align: center;">Gender</th>
        <th style="font-weight: bold; text-align: center;">Pronoun</th>
        <th style="font-weight: bold; text-align: center;">Translation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>I</td>
        <td>yo</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>you</td>
        <td>tu / usted</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Masculine</td>
        <td>he</td>
        <td>el</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Feminine</td>
        <td>she</td>
        <td>ella</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>it</td>
        <td>(no existe)</td>
      </tr>
      <tr>
        <td>First</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>we</td>
        <td>nosotros</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>you</td>
        <td>ustedes</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>they</td>
        <td>ellos/ellas</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<div>
  <ul>
    <li>I am 26 years old.</li>
    <li>You are my friend.</li>
    <li>John is from England. <strong>He</strong> is English.</li>
    <li>Jane is from Ireland. <strong>She</strong> is Irish.</li>
    <li>We are from Canada.</li>
    <li>You are the best students I have ever had.</li>
    <li>They don't want to leave class.</li>
  </ul>
</div><br/>
<h4>Object Pronouns</h4>
<p>Pronouns can also be used as the object of a preposition or a clause. Notice that "you" and "it" stay the same regardless of whether they are the subject or an object.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Person</th>
        <th style="font-weight: bold; text-align: center;">Number</th>
        <th style="font-weight: bold; text-align: center;">Gender</th>
        <th style="font-weight: bold; text-align: center;">Pronoun</th>
        <th style="font-weight: bold; text-align: center;">Translation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>me</td>
        <td>mi</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>you</td>
        <td>ti / usted</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Masculine</td>
        <td>him</td>
        <td>el</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Feminine</td>
        <td>her</td>
        <td>ella</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>it</td>
        <td>(no existe)</td>
      </tr>
      <tr>
        <td>First</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>us</td>
        <td>nosotros</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>you</td>
        <td>ustedes</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>them</td>
        <td>ellos/ellas</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<div>
  <ul>
    <li>Give me the pencil!</li>
    <li>I will hand you a piece of paper.</li>
    <li>Give it to him!</li>
    <li>John, pass the ball to your sister. Pass it to her.</li>
    <li>The puppy wants to play. Give it a ball.</li>
    <li>We would like some water. Give us some water, please.</li>
    <li>You are the best students! I will give you all an A!</li>
    <li>They are also working very hard. I will give them all an A.</li>
  </ul>
</div><br/>
<h4>Possessive Pronouns (Adjectives)</h4>
<p>Pronouns can also be used as adjectives to express ownership.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Person</th>
        <th style="font-weight: bold; text-align: center;">Number</th>
        <th style="font-weight: bold; text-align: center;">Gender</th>
        <th style="font-weight: bold; text-align: center;">Pronoun</th>
        <th style="font-weight: bold; text-align: center;">Translation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>my</td>
        <td>mi(s)</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>your</td>
        <td>tu(s)</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Masculine</td>
        <td>his</td>
        <td>su(s)</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Feminine</td>
        <td>her</td>
        <td>su(s)</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>its</td>
        <td>su(s)</td>
      </tr>
      <tr>
        <td>First</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>our</td>
        <td>nuestr(-a,-os,-as)</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>your</td>
        <td>vuestro(-a,-os,-as)</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>their</td>
        <td>su(s)</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<div>
  <ul>
    <li>It is my pencil!</li>
    <li>That is your piece of paper.</li>
    <li>Is it his dog?</li>
    <li>She has a dog. It's her dog.</li>
    <li>The puppy has a ball somewhere. Is that it's ball?</li>
    <li>We would like some water. Is that our water?</li>
    <li>You are the best students! I can really see that your work has paid off!</li>
    <li>They are also working very hard. Their enthusiasm is contagious!</li>
  </ul>
</div><br/>
<h4>Possessive Pronouns (Nouns)</h4>
<p>Instead of using the possessive pronoun as an adjective and a noun, we can replace this with the possessive pronoun that is used as a noun.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Person</th>
        <th style="font-weight: bold; text-align: center;">Number</th>
        <th style="font-weight: bold; text-align: center;">Gender</th>
        <th style="font-weight: bold; text-align: center;">Pronoun</th>
        <th style="font-weight: bold; text-align: center;">Translation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>mine</td>
        <td>mio(s)/mia(s)</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>yours</td>
        <td>tuyo(s)/tuya(s)</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Masculine</td>
        <td>his</td>
        <td>suyo(s)/suya(s)</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Feminine</td>
        <td>hers</td>
        <td>suyo(s)/suya(s)</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>(does not exist)</td>
        <td>suyo(s)/suya(s)</td>
      </tr>
      <tr>
        <td>First</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>ours</td>
        <td>nuestro(s)/nuestra(s)</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>yours</td>
        <td>vuestro(s)/vuestra(s)</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>theirs</td>
        <td>suyo(s)/suya(s)</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<div>
  <ul>
    <li>It is my pencil! It's mine!</li>
    <li>That is your piece of paper. It's yours!</li>
    <li>Is it his dog? It's his!</li>
    <li>She has a dog. It's her dog. It's hers!</li>
    <li></li>
    <li>We would like some water. Is that our water? It's ours!</li>
    <li>Does everyone want a cookie? If so, then they are yours!</li>
    <li>Do they want to finish my ice cream? If so, it is theirs.</li>
  </ul>
</div><br/>
<h4>Reflexive Pronouns</h4>
<p>We use reflexive pronouns when the subject of the clause is the same as the object. Remember that only certain verbs can be reflexive.</p>
<div>
  <table style="width: 90%; margin: 0 auto; border-style: solid; border-color: white; border-width: 1px; text-align: center;">
    <thead style="padding-bottom: 5px;">
      <tr>
        <th style="font-weight: bold; text-align: center;">Person</th>
        <th style="font-weight: bold; text-align: center;">Number</th>
        <th style="font-weight: bold; text-align: center;">Gender</th>
        <th style="font-weight: bold; text-align: center;">Pronoun</th>
        <th style="font-weight: bold; text-align: center;">Translation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>myself</td>
        <td>me</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>yourself</td>
        <td>te</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Masculine</td>
        <td>himself</td>
        <td>se</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Feminine</td>
        <td>herself</td>
        <td>se</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Singular</td>
        <td>Neutral</td>
        <td>itself</td>
        <td>se</td>
      </tr>
      <tr>
        <td>First</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>ourselves</td>
        <td>nos</td>
      </tr>
      <tr>
        <td>Second</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>yourselves</td>
        <td>se</td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Plural</td>
        <td>Neutral</td>
        <td>themselves</td>
        <td>se</td>
      </tr>
    </tbody>
  </table>
</div><br/>
<div>
  <ul>
    <li>I did it to myself.</li>
    <li>You did it to yourself.</li>
    <li>He did it to himself.</li>
    <li>She did it to herself.</li>
    <li>It did it to itself.</li>
    <li>We did it to ourselves.</li>
    <li>You did it to yourselves.</li>
    <li>They did it to themselves.</li>
  </ul>
</div>